/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

//
//breakpoints
//

$sm: "screen and (max-width: 640px)";
$md: "screen and (min-width:641px) and (max-width: 768px)";
$lg: "screen and (min-width:769px)";

@mixin sm{
	@media #{$sm}{
		@content;
	}
}

@mixin md{
	@media #{$md}{
		@content;
	}
}

@mixin lg{
	@media #{$lg}{
		@content;
	}
}

//
//Mixins
//
//raised depth levels
@mixin raised_lvl($lvl){
	$shadow_color: #222;

	@if $lvl == 1{
		box-shadow: 0 1px 3px rgba($shadow_color,0.12), 0 1px 2px rgba($shadow_color,0.24);
		z-index: 1;
	}
	@if $lvl == 2{
		box-shadow: 0 3px 6px rgba($shadow_color,0.16), 0 3px 6px rgba($shadow_color,0.23);
		z-index: 2;
	}
	@if $lvl == 3{
		box-shadow: 0 10px 20px rgba($shadow_color,0.19), 0 6px 6px rgba($shadow_color,0.23);
		z-index: 3;
	}
	@if $lvl == 4{
		box-shadow: 0 14px 28px rgba($shadow_color,0.25), 0 10px 10px rgba($shadow_color,0.22);
		z-index: 4;
	}
	@if $lvl == 5{
		box-shadow: 0 19px 38px rgba($shadow_color,0.30), 0 15px 12px rgba($shadow_color,0.22);
		z-index: 5;
	}
}
@keyframes animate-stripes {
    0% {background-position: 60px 0;} 100% {background-position: 0 0;}
}
//
//COlors
//
$not_white:#ecf0f1;
$not_black:#222;
$cash:#2ecc71;

$win:$cash;
$err:#c0392b;
$warn:#f39c12;
$info:#3498db;

h2.info{
	color:$info !important;
}

h2.win{
	color:$win !important;
}
h2.warn{
	color:$warn !important;
}
h2.err{
	color:$err !important;
}

 .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
//Progress Bar
.wio-progress {
  width: 100%;
}
.wio-progress-wrap {
  background: lighten($not_black,15%);
  margin-top: .5em;
  margin-bottom: .5em;
  overflow: hidden;
  position: relative;
  height: 1.5em;
  border-radius: .125em;
  .wio-progress-bar {
	@include raised_lvl(1);
    background-color: darken($cash,2.5%);
    left: .125em;
    position: absolute;
    top: .125em;
	height: 1.25em;
	white-space: nowrap;
	&.stripes {
	    background-size: 30px 30px;
	    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	                        transparent 75%, transparent);

	    animation: animate-stripes 3s linear infinite;
		-webkit-animation: animate-stripes 3s linear infinite;
	}
	&.complete{
		background-color: darken($info,2.5%);
	}
	.wio-progress-text{
		color: $not_white;
		float: left;
		position: absolute;
		width: auto;
		top: .85em;
		left: .75em;
		font-size: .5em;
	}
  }
}

.add-wall{
	width: 260px;
	height: 540px;
	float:left;
	position: absolute;
	margin:0;
	right: 0;
	top: 10%;
	// background: $cash;
	padding:5px;
	.banner_240x500{
		display: block !important;
		width: em(240) !important;
		height: em(500) !important;
		margin-left: 10px !important;
	}
	.banner-link{
		margin-left: 10px !important;
	}
}
.wio{
	font-family: 'Roboto', sans-serif !important;
	font-weight:300;
	font-size: 3em;
 	padding-right: 240px;
 	&.no-ad{
 		padding-right: 0 !important;
 	}
	.txt-btn{
		text-align:right;
		cursor:pointer;
		font-size:0.75em;

		@include md{
			font-size: 1em;
		}

		@include lg{
			font-size: 1.125em;
		}

		color:$not_white;
		background:none !important;
		border:none;
		font-weight: 400;
		&:hover{
			color:$not_white;
			text-decoration: none !important;
		}

		&:active,
		&:focus{
			color:$not_white;
			text-decoration: none !important;
		}
		i{

			text-align:right;
			vertical-align:middle;
		}
	}

	.cash{
		color:$cash;
	}
	.table-responsive,td{
		font-size: 12px !important;
		margin-top: 1em;
		.dataTable{
			width: 100% !important;
		}
		.dataTables_wrapper{
			//padding-top: 1em;
		}
		th,.dataTables_info,.dataTables_paginate{
			font-size: 1.25em;
			text-align:left !important;
		}
		.url{
			width: 40%;
			word-wrap: break-word;
		}
		.opt{
			width:16%;
		}
	}
//shared
	#wio_msgs,#perms_msgs,.wio_msgs{
		width: 20%;
		border: 1px solid $not_black;
		background:lighten($not_black,30%);
		border-radius:.125em;
		float:left;
		position:absolute;
		text-align:center;
		right: 1em;
		top: .25em;
			text-decoration: none;

		@include sm{
			width: 80%;
			float:none;
			position:relative;
			margin-left:auto;
			margin-bottom:.5em;
		}

		.msg-txt{
			width:auto;
			font-weight:bold;
			font-size:10px;
			//margin-left:1.5em;
			color:$not_black;
			font-weight:400;
			text-decoration: none;
			.dark-txt{
				font-weight:bold;
			}
		}
		&.dark{
			background:lighten($not_black,25%);
			border-color:darken($not_black,15%);
			.msg-txt{
				color:lighten($not_black,5%);
				.dark-txt{
					color:$not_black;
				}
			}
		}
		&.err{
			background:lighten($err,15%);
			border-color:darken($err,15%);
			.msg-txt{
				color:darken($err,15%);
				.dark-txt{
					color:darken($err,25%);
				}
			}
		}
		&.win{
			background:lighten($win,15%);
			border-color:darken($win,15%);
			.msg-txt{
				color:darken($win,15%);
				.dark-txt{
					color:darken($win,25%);
				}
			}
		}
		&.warn{
			background:lighten($warn,15%);
			border-color:darken($warn,15%);
			.msg-txt{
				color:darken($warn,15%);
				.dark-txt{
					color:darken($warn,25%);
				}
			}
		}
		&.info{
			background:lighten($info,25%);
			border-color: darken($not_black,15%);
			.msg-txt{
				color:lighten($not_black,20%);
				.dark-txt{
					color:lighten($not_black,10%);
				}
			}
		}
	}
	.link_btn{
		@include raised_lvl(1);
		cursor: pointer;

		&:hover{
			@include raised_lvl(2);
		}
		&:active{
			@include raised_lvl(1);
		}
		&.disabled{
			@include raised_lvl(1);
			cursor:no-drop;
			&:hover{
				@include raised_lvl(1);
			}
			&:active{
				@include raised_lvl(1);
			}
		}
	}
	.busy{
		cursor:wait !important;
	}
	#perms_msgs,.perms_msgs{
		right: 25%;
	}
	.wio_msgs{
		float:none;
		min-width:17%;
		width:auto;
		padding-top: .12em;
		padding-left: .25em;
		padding-right: .25em;
		display:inline-block;
		font-size: .8em;
		position: relative;
		margin-bottom: .35em;
		margin-left: 0;
		margin-right:0;
		&.first{
			margin-left: 3.5%;
		}
		&.acct-label{
			float:right;
		}
	}
	.not_authed{
		margin-top:5%;
		font-weight:400;
		font-size:0.85em;
		.btn{
			text-decoration:none;
			background:lighten($info,25%);
			border:1px solid darken($not_black,15%);
			color:lighten($not_black,10%);
			font-size:1em;
			padding: .5em;
			font-weight:300;
			border-radius:.2em;
    		outline:none !important;
			&:hover{
				background:lighten($info,20%);
			}
			&:active{


				background:lighten($info,25%);
			}
			&:focus{

			outline:none !important;
			}
			&.err{
				background:lighten($err,15%);
				border-color:darken($err,15%);
				color: darken($err,15%);
				.msg-txt{
					color:darken($err,15%);
					.dark-txt{
						color:darken($err,25%);
					}
				}
			}
		}
		a{
    		outline:none !important;
		}
		&.err{
			background:lighten($err,15%);
			border-color:darken($err,15%);
			.msg-txt{
				color:darken($err,15%);
				.dark-txt{
					color:darken($err,25%);
				}
			}
		}
	}
	.stat{
		width: 100%;
		@include lg{
			width: 33%;
		}
		font-weight: 300;
		float:left;
		display: inline-block;
		text-align:center;
		.count{
			text-align:center;
			font-size: 1em;
			@include lg{
				font-size: 1.5em;
			}
			font-weight: inherit;
		}
	}
	.logs{
   		margin-top: .5em;

   		.log-list{
   			width: 95%;
			.log-item{
				width: 100%;
				margin-top: .5em;
				margin-bottom: .5em;
				font-size: 12px;
				//border-bottom: 1px solid #222;
				padding:1%;
				padding-bottom: .25em;
				padding-top: .25em;
				.log-time{
					width: 10%;
					display:inline-block;
				}
				.log-action{
					width: 15%;
					margin-left: 2%;
					margin-right: 2%;
					display:inline-block;
				}
				.log-txt{
					width: 70%;
					display:inline-block;
				}
			}
   		}
	}
//checkout
	#checkout{
	 	text-align:center;
	 	height:100%;
		padding-top: 5%;
		text-align:center;
		color: $not_black;

		border-radius: .125em;
		border-top-left-radius:0;
		border-top-right-radius:0;
		.txt-btn{
	 		color:$not_black;
	 		border-radius:0.125em;

    		outline:none !important;
			&:hover{
				color: lighten($not_black,10%) !important;
			}
			&:active{
				color: lighten($not_black,5%) !important;
			}
			i{
				margin-top: -.25em;
			}
			.cash{
				color:$cash;
			}
		}
		h2{

			color: $not_black;
			margin:.25em;
			font-weight:400;
			font-size:0.85em;

			@include md{
				font-size: 1em;
			}

			@include lg{
				font-size: 1.125em;
			}
 			&.detail{
				font-size:0.75em;

				@include md{
					font-size: 1em;
				}

				@include lg{
					font-size: 1em;
				}
 			}
		}
		form{
			input{
				font-size:1.5em;
				padding: .25em;
				border-color:#95a5a6;
				color:$not_white;
				box-shadow:none;
				outline: none;
				text-align:center;
				font-weight: 400;
				background:#68A6CC;
				width:100%;
				margin: 0;
				@include lg {
					border-right-radius: .25em !important;
					border-radius: .25em !important;
					width: 30%;
				}
			}
		}
	 }
	 #acct{
	 	@extend #checkout;
	 	.top{
	 		margin-top:5%;
	 	}
	 	.bottom{
	 		h2{
	 			font-weight:400;
	 		}
	 	}
	 }

}
